*{
  text-decoration: none;
  list-style:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
  background-color: bisque;
  font-family: Verdana;
}

.arrow{
  filter: invert();
  cursor: pointer;
}

.calendar-box{
  width: 500px;
  height: 500px;
  /* border: 1px solid black; */
  margin:8% 32%;
  border-radius: 10px;
}

.calendar-field-1{
display: grid;
grid-template-columns: 1fr 8fr 1fr;
align-items: center;
justify-content: center;
column-gap: 30px;
padding: .5rem;
  width: 500px;
  height: 80px;
  background-color: #ED6B5B;
 text-align: center;
}

.calendar-main{
  color:white;
  text-transform: uppercase;
}
.calendar-field-2{
display: flex;
flex-direction: column;
padding:1.5rem;
background-color: rgba(255, 255, 255, 0.7);
height: 420px ;
}

.calendar-weeks,.calendar-days{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  column-gap: 1rem;
  padding: 1rem 0;
}

.calendar-days li{
  padding: 1rem .66rem;
}

.calendar-weeks li{
  color:rgba(39, 4, 103, 0.41);
  font-weight:550;
}

.date{
  opacity:1 ;
}

 
.border{
  border: #ED6B5B 2px solid;
  border-radius: 20%;
}
